p{
    color: green;
}
#Ana{
    color: blue;
    border-width: 4px;
    border-style: double;
    border-color: black;
    padding : 2px;
    margin: 50px;
}
.aa{
    border: 5px dotted orange;
    padding-left: 40px;
    text-align: center;
}


/* box model */
